#card-row{
    display:block;
    background-color: blue;
}

.card1{
    display:inline-block;
    padding:5%;
    background-color:teal; 
    border-radius:5%;
    margin: 2%;
}

.card1 h1{
    display:block;
    background-color:green;
    text-align: center;
}
.card1 p{
    display:inline-block;
    background-color:yellow;
    width:100%;
    text-align:center;
}
.card2{
    display:inline-block;
    padding:5%;
    background-color:teal;
    border-radius:5%;
    margin: 2%;
}

.card2 h1{
    display:block;
    background-color:green;
    text-align: center;
}
.card2 p{
    display:inline-block;
    background-color:yellow;
    width:100%;
    text-align:center;
}
.card3{
    display:inline-block;
    padding:5%;
    background-color:teal;
    border-radius:5%;
    margin: 2%;
}

.card3 h1{
    display:block;
    background-color:green;
    text-align: center;
}
.card3 p{
    display:inline-block;
    background-color:yellow;
    width:100%;
    text-align:center;
}
.card4{
    display:inline-block;
    padding:5%;
    background-color:teal;
    border-radius:5%;
    margin: 2%;
}

.card4 h1{
    display:block;
    background-color:green;
    text-align: center;
}
.card4 p{
    display:inline-block;
    background-color:yellow;
    width:100%;
    text-align:center;
}
.card5{
    display:inline-block;
    padding:5%;
    background-color:teal;
    border-radius:5%;
    margin: 2%;
}

.card5 h1{
    display:block;
    background-color:green;
    text-align: center;
}
.card5 p{
    display:inline-block;
    background-color:yellow;
    width:100%;
    text-align:center;
}


.selectedCard{
    display:inline-block;
    padding:5%;
    background-color:teal;
    border-radius:5%;
    margin: 2%;
}

.selectedCard h1{
    display:block;
    background-color:green;
    text-align: center;
}
.selectedCard p{
    display:inline-block;
    background-color:yellow;
    width:100%;
    text-align:center;
}

.selectedCard h4{
    margin:0;
}